@tailwind base;
@tailwind components;
@tailwind utilities;

// Color Palette
$onyx: #303636ff;
$outer-space: #2a2f2f;
$bittersweet: #ff715bff;
$white: #ffffffff;
$persian-green: #1ea896ff;
$van-dyke: #523f38ff;

// Color Aliases
$background: $onyx;
$foreground: $outer-space;
$accent: $bittersweet;
$interactive: $persian-green;
$text: $white;
$other: $van-dyke;

// Color Palette HSL
$outer-space-hsl: hsla(180, 5%, 31%, 1);
$bittersweet-hsl: hsla(8, 100%, 68%, 1);
$white-hsl: hsla(0, 0%, 100%, 1);
$persian-green-hsl: hsla(172, 70%, 39%, 1);
$van-dyke-hsl: hsla(16, 19%, 27%, 1);

// Color Palette RGB
$outer-space-rgb: rgba(76, 84, 84, 1);
$bittersweet-rgb: rgba(255, 113, 91, 1);
$white-rgb: rgba(255, 255, 255, 1);
$persian-green-rgb: rgba(30, 168, 150, 1);
$van-dyke-rgb: rgba(82, 63, 56, 1);

// Gradients
$gradient-top: linear-gradient(
  0deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-right: linear-gradient(
  90deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-bottom: linear-gradient(
  180deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-left: linear-gradient(
  270deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-top-right: linear-gradient(
  45deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-bottom-right: linear-gradient(
  135deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-top-left: linear-gradient(
  225deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-bottom-left: linear-gradient(
  315deg,
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);
$gradient-radial: radial-gradient(
  $outer-space,
  $bittersweet,
  $white,
  $persian-green,
  $van-dyke
);

html > div,
main,
body {
  background: $background;
}

body,
main,
html {
  color: $text;
  background: $background sticky;
  height: 100%;
  width: 100%;
  // Add media tag only on medium or bigger devices
  @media screen and (min-width: 768px) {
    //overflow: hidden;
    width: 100%;
  }
}

[data-id="external-link"] {
  background: $foreground;
  margin: 1em;
}

img {
  @apply rounded-full;
  background: none;
}
