.back-in-up {
  transform-origin: 50% 50%;
  animation: back-in-up-animation 1s ease 0s 1 normal both running;
}

@keyframes back-in-up-animation {
  0% {
    transform: translate(0px, 1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translate(0px, 0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}

.back-in-left {
  transform-origin: 50% 50%;
  animation: back-in-left-animation 1s ease 0s 1 normal both running;
}

@keyframes back-in-left-animation {
  0% {
    transform: translate(-2000px, 0px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translate(0px, 0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}

.back-in-right {
  transform-origin: 50% 50%;
  animation: back-in-right-animation 1s ease 0s 1 normal both running;
}

@keyframes back-in-right-animation {
  0% {
    transform: translate(2000px, 0px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translate(0px, 0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}
