.bounce-basic {
  transform-origin: 50% 50%;
  animation: bounce-basic-animation 3s ease 0s infinite normal both running;
}

@keyframes bounce-basic-animation {
  0% {
    transform: translate(0, -50px);
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  }

  50% {
    transform: translate(0px, 0px);
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }

  100% {
    transform: translate(0, -50px);
  }
}

.kofi-img {
  height: 10vh;
  @media screen and (min-width: 768px) {
    height: 5vh;
  }
}
